In [1]:
import pandas as pd
import numpy as np

In [2]:
movie_df = pd.read_csv("movie.csv")

In [3]:
rating_df = pd.read_csv("rating.csv")

In [4]:
movie_df.shape

(27278, 3)

In [5]:
rating_df.shape

(20000263, 4)

In [6]:
df_c = movie_df.merge(rating_df, how= "inner", on = "movieId")

In [7]:
df_c.shape

(20000263, 6)

In [8]:
df = df_c.copy()

In [9]:
df

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,2009-01-02 01:13:41
...,...,...,...,...,...,...
20000258,131254,Kein Bund für's Leben (2007),Comedy,79570,4.0,2015-03-30 19:32:59
20000259,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,79570,4.0,2015-03-30 19:48:08
20000260,131258,The Pirates (2014),Adventure,28906,2.5,2015-03-30 19:56:32
20000261,131260,Rentun Ruusu (2001),(no genres listed),65409,3.0,2015-03-30 19:57:46
20000262,131262,Innocence (2014),Adventure|Fantasy|Horror,133047,4.0,2015-03-30 20:39:26

In [10]:
comment_values = df["movieId"].value_counts()

In [11]:
comment_values = comment_values[comment_values<1000]

In [12]:
comment_list = list(comment_values.index)

In [13]:
comment_values

3412      999
1465      999
95441     999
4267      999
1382      998
         ...
110807      1
110811      1
78984       1
110818      1
131262      1
Name: movieId, Length: 23585, dtype: int64

In [14]:
len(comment_list)

23585

In [15]:
df = df[~df["movieId"].isin(comment_list)]

In [16]:
df.shape

(17765516, 6)

In [17]:
user_ratings = df.pivot_table(index =["userId"], columns = ["title"] , values = "rating")

In [18]:
def create_user_movie_df(limit =1000):
    import pandas as pd
    movie = pd.read_csv('datasets/movie_lens_dataset/movie.csv')
    rating = pd.read_csv('datasets/movie_lens_dataset/rating.csv')
    df = movie.merge(rating, how="left", on="movieId")
    comment_counts = pd.DataFrame(df["title"].value_counts())
    rare_movies = comment_counts[comment_counts["title"] <= limit].index
    common_movies = df[~df["title"].isin(rare_movies)]
    user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")
    return user_movie_df

In [19]:
user_ratings

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.5,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
random_user = int(user_ratings.sample(1,random_state = 45).index.values[0])

In [21]:
random_user_df = user_ratings[user_ratings.index == random_user]

In [22]:
movie_watched = (random_user_df.loc[:,random_user_df.notna().any()].columns).tolist()

In [23]:
movies_watched_df = user_ratings.loc[:,user_ratings.columns.isin(movie_watched)]

In [24]:
movies_watched_df

title,Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Aladdin (1992),"American President, The (1995)",Apollo 13 (1995),Babe (1995),Bullets Over Broadway (1994),Clueless (1995),Disclosure (1994),Forrest Gump (1994),...,Ready to Wear (Pret-A-Porter) (1994),"Remains of the Day, The (1993)",Sabrina (1995),Schindler's List (1993),"Secret Garden, The (1993)",Sense and Sensibility (1995),Shadowlands (1993),"Silence of the Lambs, The (1991)",Star Trek: Generations (1994),Stargate (1994)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,5.0
4,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,3.0,NaN
5,NaN,NaN,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,5.0,3.0,NaN,3.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
138490,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,4.0,NaN,5.0,NaN,NaN
138491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493,4.0,4.0,4.5,NaN,4.5,3.0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
user_movie_count = movies_watched_df.T.notnull().sum()

In [26]:
type(user_movie_count)

pandas.core.series.Series

In [27]:
user_movie_count = user_movie_count.reset_index()

In [28]:
user_movie_count.columns = ["userId", "movie_count"]

In [29]:
users_same_movies = user_movie_count[user_movie_count["movie_count"] >= (len(movie_watched)*0.6)]

In [30]:
same_movie_user_id = users_same_movies["userId"].values.tolist()

In [31]:
movies_watched_df_T = movies_watched_df.T

In [32]:
same_movie_users_df = movies_watched_df_T.loc[:,movies_watched_df_T.columns.isin(same_movie_user_id)]

In [33]:
corr_df = same_movie_users_df.corr()

In [34]:
corr_df_random_user = corr_df.loc[:,random_user_df.index[0]].reset_index()

In [35]:
corr_df_random_user.columns = ["userId", "correlation"]

In [36]:
top_users_df = corr_df_random_user[corr_df_random_user["correlation"] >= 0.65]

In [37]:
top_users_df = top_users_df.merge(rating_df,how = "inner", on = "userId")

In [38]:
top_users_df = top_users_df[~(top_users_df["userId"] == random_user_df.index[0])]

In [39]:
top_users_df["weighted_rating"] = top_users_df["correlation"] * top_users_df["rating"]

In [40]:
top_users_df

,userId,correlation,movieId,rating,timestamp,weighted_rating
0,1362,0.665461,11,5.0,1996-09-22 10:36:04,3.327304
1,1362,0.665461,17,5.0,1996-09-22 10:36:47,3.327304
2,1362,0.665461,21,5.0,1996-09-22 10:33:48,3.327304
3,1362,0.665461,25,4.0,1996-09-22 10:38:55,2.661843
4,1362,0.665461,28,5.0,1996-09-22 10:45:05,3.327304
...,...,...,...,...,...,...
24310,137573,0.686064,81834,3.5,2011-06-03 16:52:53,2.401224
24311,137573,0.686064,81845,4.5,2011-05-26 12:04:39,3.087288
24312,137573,0.686064,81932,4.0,2011-05-22 19:17:43,2.744256
24313,137573,0.686064,82459,3.5,2011-06-09 19:35:34,2.401224
24314,137573,0.686064,84954,3.5,2011-05-22 19:14:00,2.401224

In [41]:
recommendation_df = top_users_df.groupby("movieId").agg({"weighted_rating": "mean"})

In [42]:
recommendation_df = recommendation_df[recommendation_df["weighted_rating"]>=3.5].sort_values(by= "weighted_rating",ascending = False)

In [43]:
recommendation_list_ID = recommendation_df.index.tolist()

In [44]:
recommendation_list_ID= list(set(recommendation_list_ID) - set(movie_watched))

In [45]:
recommendation_list_ID

[7585, 1922, 6216, 2057, 3118, 2675, 53, 2485, 887, 7669]

In [46]:
recommendation_list_name = movie_df.loc[movie_df["movieId"].isin(recommendation_list_ID),"title"].values.tolist()

Item Based Recommendation

In [47]:
user_movie_by_time = rating_df[(rating_df["userId"] == random_user) & (rating_df["rating"] == 5)].sort_values(by="timestamp", ascending= False)

In [48]:
most_recently_watched_movie_ID = user_movie_by_time.iloc[0]["movieId"]

In [68]:
most_recently_watched_movie_name = movie_df[movie_df["movieId"] == most_recently_watched_movie_ID]["title"].values[0]

In [69]:
most_recently_watched_movie_name_df = user_ratings[most_recently_watched_movie_name]

In [70]:
similar_movies_list = user_ratings.corrwith(most_recently_watched_movie_name_df).sort_values(ascending=False).head(10).index.tolist()

In [71]:
similar_movies_list.remove(most_recently_watched_movie_name)

In [72]:
similar_movies_list

['Intouchables (2011)',
 'Father of the Bride (1991)',
 'Anna and the King (1999)',
 'Runaway Bride (1999)',
 'Phantom of the Opera, The (2004)',
 'Mrs. Winterbourne (1996)',
 "You've Got Mail (1998)",
 'Two Weeks Notice (2002)',
 'Sweet Home Alabama (2002)']